// Colors
$black: #000;
$black50: #202020;
$grey: #4b4b4b;
$grey50: #808080;
$grey10: #efefef;
$white: #fff;
$blue: #3965fe;

// Fonts
$font-family: 'Nunito', sans-serif;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-black: 900;